<a href="https://colab.research.google.com/github/vvviet2908/AOD/blob/main/%5BAOD_Mid%5D_Lab_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mid-term data

In [ ]:
import pandas as pd
import numpy as np

Importing data

In [ ]:
raw_data=pd.read_csv('/content/Mid-term.dataset.csv')
raw_data

      X1    X2
0  12.69  1.86
1  12.85  1.80
2  13.20  1.83
3  13.61  1.80
4  13.51  1.74
5  13.75  1.83
6  13.38  1.80
7  13.55  1.80
8  13.63  1.83
9  13.25  1.77

Correlation Matrix

In [ ]:
raw_data.corr()

          X1        X2
X1  1.000000 -0.279545
X2 -0.279545  1.000000

Covariance Matrix

In [ ]:
raw_data.cov()

          X1        X2
X1  0.121107 -0.003313
X2 -0.003313  0.001160

Zero Mean data

In [ ]:
zero_mean = raw_data - np.mean(raw_data, axis=0)
zero_mean

      X1     X2
0 -0.652  0.054
1 -0.492 -0.006
2 -0.142  0.024
3  0.268 -0.006
4  0.168 -0.066
5  0.408  0.024
6  0.038 -0.006
7  0.208 -0.006
8  0.288  0.024
9 -0.092 -0.036

Standardizing Data

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
stdata=scaler.fit_transform(raw_data)

Eigen Values and Eigen Vector

In [ ]:
import scipy.linalg as la
eigvals, eigvecs = la.eig(raw_data.cov())
idx = eigvals.argsort()[::-1]   
eigvals = eigvals[idx]
eigvecs  = eigvecs [:,idx]
print("Eigenvalues:",eigvals)
print("Eigenvectors",eigvecs)

Eigenvalues: [0.12119812+0.j 0.00106854+0.j]
Eigenvectors [[ 0.99961927  0.02759183]
 [-0.02759183  0.99961927]]

New data using Zero Mean Data

In [ ]:
pc_data= np.dot(zero_mean,eigvecs)
pc_data=pd.DataFrame(pc_data, columns=['PC1','PC2'])
pc_data

        PC1       PC2
0 -0.653242  0.035990
1 -0.491647 -0.019573
2 -0.142608  0.020073
3  0.268064  0.001397
4  0.169757 -0.061339
5  0.407182  0.035248
6  0.038151 -0.004949
7  0.208086 -0.000259
8  0.287228  0.031937
9 -0.090972 -0.038525

Correlation after PCA

In [ ]:
pc_data.corr()

              PC1           PC2
PC1  1.000000e+00 -2.540591e-17
PC2 -2.540591e-17  1.000000e+00

Covariance after PCA

In [ ]:
pc_data.cov()

              PC1           PC2
PC1  1.211981e-01 -4.486264e-19
PC2 -4.486264e-19  1.068544e-03

**Remark**: The correlation and covariance decrease after PCA

**PCA from sklearn**

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pc_data=pca.fit_transform(raw_data)


eigenvalues = pca.explained_variance_
eigenvectors = pca.components_

Eigenvalues and Eigenvectors

In [ ]:
eigenvalues

array([0.12119812, 0.00106854])

In [ ]:
eigenvectors

array([[-0.99961927,  0.02759183],
       [-0.02759183, -0.99961927]])

New Data after PCA

In [ ]:
pc_data=pd.DataFrame(pc_data, columns=['PC1','PC2'])
pc_data

        PC1       PC2
0  0.653242 -0.035990
1  0.491647  0.019573
2  0.142608 -0.020073
3 -0.268064 -0.001397
4 -0.169757  0.061339
5 -0.407182 -0.035248
6 -0.038151  0.004949
7 -0.208086  0.000259
8 -0.287228 -0.031937
9  0.090972  0.038525